@{
    ViewBag.Title = "Index";
}


<br />
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Principal/Main/Index"><b>PRINCIPAL</b></a></li>
    <li class="breadcrumb-item active"><b>PERSONA</b></li>
</ol>
<br />

<h2>LISTADO DE LAS PERSONAS REGISTRADAS</h2>
<div id="divListadoPersona">
</div>

<script>
    ListadoPersona();

    function ListadoPersona() {

        $.ajax({
            url: "/Persona/Main/ListadoPersona",
            cache: false,
            success: function (html) {
                $("#divListadoPersona").html(html);
            }
        });

    }

</script>