@{
    ViewBag.Title = "Index";
}

<h2>Listado de l</h2>
<input type="button" class="btn btn btn-info" name="name" value="Nuevo Interprerte" id="btnRegistro" />
<br />
<div id="divListadoInterprete">


</div>


<script>
    ListadoInterprete();

    function ListadoInterprete() {

        $.ajax({
            url: "/Interprete/Main/Listado",
            cache: false,
            success: function (html) {
                $("#divListadoInterprete").html(html);
            }
        });

    }
    $('#btnRegistro').click(function () {
        var modal = $("#modalForm");
        $.ajax({
            type: "POST",
            url: "/Administrador/Main/RegistroInterprete",
            success: function (html) {
                modal.find(".modal-body").html(html);
                modal.modal();
            }
        });
    });




</script>


