
@{
    ViewBag.Title = "Index";
}


<style>
    body {
        background-color: #BA9826;
    }
    h2 {
        color: darkred;       
        font-size: 50px;
    }
    a {
        font-size: 30px;
        color: black;
    }

</style>
<br>

<div class="container text-center">
    <h2>GESTION DE CINE</h2><br>
    <div class="row">
        <div class="col-sm-3">
            <img src="~/Imagen/cine.jpg" class="img-responsive" style="width:100%" alt="Image">       
                      
            <a href="/Cine/Main/Index">CINE</a>         
           
        </div>
    
        <div class="col-sm-3">
            <img src="~/Imagen/pelicula.png" class="img-responsive" style="width:100%" alt="Image">
          
            <a href="/Pelicula/Main/Index">PELICULA</a>
        </div>
      
        <div class="col-sm-3">
            <img src="~/Imagen/pedido.png" class="img-responsive" style="width:100%" alt="Image">
            
            <a href="/Pedido/Main/Index">PEDIDO</a>
        </div>
     
        <div class="col-sm-3">
            <img src="~/Imagen/interprete.png" class="img-responsive" style="width:100%" alt="Image">
          
            <a href="/Interprete/Main/Index">INTERPRETE</a>
        </div>
      
    </div>
    <br>
    <div class="row">
        <div class="col-sm-3">
            <img src="~/Imagen/asiento.png" class="img-responsive" style="width:100%" alt="Image">
            <a href="/Asiento/Main/Index">ASIENTO</a>
          
        </div>
     
        <div class="col-sm-3">
            <img src="~/Imagen/protagonista.png" class="img-responsive" style="width:100%" alt="Image">
            <a href="/Protagonista/Main/Index">PROTAGONISTA</a>
            
        </div>
     
        <div class="col-sm-3">
            <img src="~/Imagen/sala.png" class="img-responsive" style="width:100%" alt="Image">
            <a href="/Sala/Main/Index">SALA</a>           
        </div>
     
        <div class="col-sm-3">
            <img src="~/Imagen/persona.png" class="img-responsive" style="width:100%" alt="Image">
            <a href="/Persona/Main/Index">PERSONA</a>            
        </div>
        
    </div>
    <br>
    <div class="row">
        <div class="col-sm-3">
            <img src="~/Imagen/funcion.png" class="img-responsive" style="width:100%" alt="Image">
            <a href="/Funcion/Main/Index">FUNCION</a>
            
        </div>
       
        <div class="col-sm-3">
            <img src="~/Imagen/cinePeli.jpg" class="img-responsive" style="width:100%" alt="Image">
            <a href="/CinePelicula/Main/Index">CINE/PELI</a>
           
        </div>
       
        <div class="col-sm-3">
            <img src="~/Imagen/ticket.png" class="img-responsive" style="width:100%" alt="Image">
            <a href="/Ticket/Main/Index">TICKET</a>
         
        </div>
    
        <div class="col-sm-3">
            <img src="~/Imagen/director.png" class="img-responsive" style="width:100%" alt="Image">
            <a href="/Director/Main/Index">DIRECTOR</a>
            @*<button href="/Director/Main/Index" type="button" class="btn btn-danger" id="btnDirector">DIRECTOR</button>*@
        </div>
    </div>
</div><br>



